@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor malesuada tincidunt. Integer consectetur metus a enim ultrices, eget pretium enim pellentesque. Phasellus in posuere massa, sed malesuada velit. Nullam pharetra tortor leo, id sodales purus blandit quis. Curabitur vehicula efficitur dignissim. Pellentesque et ipsum est. Sed nisl felis, fermentum non tempor vel, interdum nec nulla. Integer sit amet ullamcorper ex, sit amet rhoncus dui. Morbi elementum vulputate nibh, vitae pulvinar ligula ornare vel. Nullam in neque ac est vestibulum luctus. In hac habitasse platea dictumst.

        Morbi lobortis, enim sed fermentum rhoncus, libero elit faucibus nisi, sed suscipit erat est finibus dui. Proin nec dapibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida, diam dapibus dignissim volutpat, enim dolor efficitur ipsum, ac placerat mi quam vitae quam. Nunc tincidunt ut libero vel cursus. Sed vel condimentum tortor. Duis vel libero semper justo vehicula maximus. Donec a felis augue. Duis pellentesque, nulla in faucibus semper, augue urna pharetra ipsum, id consequat est nulla eget erat.

        Nullam ultricies consectetur lobortis. Sed laoreet ante dui, vitae condimentum libero pulvinar a. Mauris eget tellus blandit, ultrices magna et, sollicitudin mi. Etiam egestas justo a sapien imperdiet sollicitudin. Fusce scelerisque magna tortor, sed convallis sem lacinia at. Sed sodales nisi eu commodo rutrum. Nunc sit amet nunc in lectus faucibus vestibulum ac eu erat. Ut ac lorem eu arcu rutrum placerat vitae sit amet metus. Nam felis neque, varius sed tortor ut, fermentum posuere purus. Etiam eget ornare libero. Maecenas tellus mauris, pretium et lorem eget, ultricies ornare magna. Ut rutrum facilisis eros, in scelerisque nibh tempus in. Proin at facilisis tellus.

        Pellentesque dictum risus vitae viverra volutpat. Maecenas fringilla feugiat erat a ultrices. Nullam mi risus, luctus in iaculis sit amet, mattis eget augue. Proin malesuada luctus blandit. Quisque luctus ex a nisi cursus efficitur. Aliquam dapibus dapibus vestibulum. Morbi ut tristique nibh, viverra fermentum neque. Nunc vel nulla nec ex consectetur fermentum. Aenean et pulvinar diam.
    </p>
</div>