
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>
<ul>
    @{ 
        string[] projects = { "ArenaFighter", "Calculator", "Golf", "Sokoban", "VendingMachine" };
        foreach(string proj in projects)
        {
            <li>@proj</li>
        }
    }
</ul>