
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>
<ul>
    <li>
        ArenaFighter
    </li>
    <li>
        Calculator
    </li>
    <li>
        Golf
    </li>
    <li>
        Sokoban
    </li>
    <li>
        VendingMachine
    </li>
</ul>